<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-Dark(#262626) bg-white">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          (click)="jumbotronExample.toggle()"
          aria-controls="jumbotronExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          mdbCollapse
          #jumbotronExample="mdbCollapse"
          class="collapse navbar-collapse"
          id="jumbotronExample"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/src/app/app.component.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/app/about/about.component.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/app/appointment/appointment.component.html">Contact Us</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">District 3 Developers</h1>
      <h4 class="mb-3">Your Investment Advisor</h4>
      <a class="btn btn-primary"  role="button">Set Appointment</a>
    </div>
    <!-- Jumbotron -->
  </header>