<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-primary bg-light">

  

  <!-- Container wrapper -->
  <div class="container-fluid shadow-1-strong mb-0 ">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#" >
      <img
       src="/assets/logo.png"
        height="60"
        class="z-depth-5 shadow-5"
        alt=""
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse container-expand text-center"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 border-top">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item border-top">
          <a class="nav-link font-weight-bold  "  aria-current="page" href="#">Shop</a>
        </li>

        <li class="nav-item border-top">
          <a class="nav-link font-weight-bold" href="#">Contact</a>
        </li>
        
        <!--
        
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            Products
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownExampleAnimation" style="display: block; position: static">
            <li>
              <a class="dropdown-item" href="#">Vases</a>
            </li></ul>
        </li>

        -->
        
        
      </ul>
   <!-- 
      <div class="d-flex align-items-end bg-light mb-4 mt-2">
        <span class="me-2">
          <button type="button" class="btn btn-dark btn-sm"><span class="fa fa-shopping-cart me-2"></span>My Cart</button>
      
        </span>
   


      <button type="button" class=" col btn btn-primary me-2 btn-sm">
        <i class="fa-sign-in"></i>
        <a class="title m-2 text-white" href="#" tabindex="-1" aria-disabled="false">Login/Signup</a
      >
    </button>   
  </div>


    
   Left links -->

      <!-- Search form 
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="button">
          Search
        </button>
      </form>
      -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
  
</nav>
<!-- Navbar -->


