<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid p-2">
      <!--Grid row-->
      <div class="row border border-dark">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 border">
            <ul class="list-group list-group-light">
                <li class="list-group-item px-3 border-4 active" aria-current="true">
                 Contact us
                </li>
                <li class="list-group-item px-3 border-0"><a href="https://www.facebook.com/"><span class=""><i class="  fas fa-phone"></i>  Call us</span></a></li>
                <li class="list-group-item px-3 border-0"><a href="https://www.facebook.com/"><span class=""><i class="fab fa-whatsapp"></i>  Call on Whatsapp</span></a></li>
                <li class="list-group-item px-3 border-0"><a href="https://www.facebook.com/"><span class=""><i class="fas fa-envelope"></i>  Email Us</span></a></li>
              </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 border">  
          <ul class="list-group list-group-light">
            <li class="list-group-item px-3 border-4 active" aria-current="true">
              Stay updated
            </li>
            <li class="list-group-item px-3 border-0"><a href="https://www.facebook.com/"><span class=""><i class="  fab fa-facebook-f"></i>  Follow us on facebook</span></a></li>
            <li class="list-group-item px-3 border-0"><a href="https://www.Instagramcom/"><span class=""><i class="  fab fa-instagram"></i>  Follow us on Instagram</span></a></li>
            <li class="list-group-item px-3 border-0"><a href="https://www.Instagramcom/"><span class=""><i class="  fab fa-youtube"></i>  Subscribe out Youtube Channel</span></a></li>
        </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
      <a class="text-info">© 2022 Copyright: </a>
      <a class="text-light" href="https://facebook.com/">District 3 Developers</a>
    </div>
    <!-- Copyright -->
  </footer>