<div class=" mt-4 text-center fluid-lg border-top ">
    <h2 class=" text-center text-dark font-weight-bolder">Categories</h2>
    <div class="text-center z-depth-3 font-weight-strong">
      <h3>VASES</h3>
      </div>
    </div>
    
<div class="  row row-cols-1 row-cols-md-5 d-inline-flex justify-content-center px-4 py-2">
  
      <div class="col bg-light" style="max-width: 30rem; ">
        <div class="card border border-dark shadow-5-strong z-depth-3 m-4">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/040.webp"
            class="card-img-top border-bottom"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-dark fw-bold border-bottom">item 1</h4>
            <p class="card-text">
              Description here
            </p>
            <a href="#" class="btn btn-primary btn-sm shadow-2-strong">View</a>
  
          </div>
        </div>
      </div>
   
      <div class="col bg-light" style="max-width: 30rem;">
        <div class="card border border-dark shadow-5-strong z-depth-3 m-4">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/041.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-dark fw-bold border-bottom">item 2</h4>
            <p class="card-text">
              Description here
            </p>
            <a href="#" class="btn btn-primary btn-sm shadow-2-strong">View</a>
  
          </div>
        </div>
      </div>
    
      <div class="col bg-light" style="max-width: 30rem;">
        <div class="card border border-dark shadow-5-strong z-depth-3 m-4">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/045.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-dark fw-bold border-bottom">item 3</h4>
            <p class="card-text">
              Description here
            </p>
            <a href="#" class="btn btn-primary btn-sm shadow-2-strong">View</a>
  
          </div>
        </div>
      </div>

      <div class="col bg-light" style="max-width: 50rem;">
        <div class="card border border-dark shadow-5-strong z-depth-3 m-4">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/071.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-dark fw-bold border-bottom">item 4</h4>
            <p class="card-text">
              Description here
            </p>
            <a href="#" class="btn btn-primary btn-sm shadow-2-strong">View</a>
  
          </div>
        </div>
      </div>

      <div class="col bg-light" style="max-width: 50rem;">
        <div class="card border border-dark shadow-5-strong z-depth-3 m-4">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/071.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title text-dark fw-bold border-bottom">item 4</h4>
            <p class="card-text">
              Description here
            </p>
            <a href="#" class="btn btn-primary btn-sm shadow-2-strong">View</a>
  
          </div>
        </div>
      </div>

      
    
  </div>