<form action="/action_page.php" class="p-4">
  <h2>Contact Us Or Give Feedback</h2>
  <div class="input-container">
    <i class="fa fa-user icon mt-3"></i>
    <input class="input-field" type="text" placeholder="Username" name="usrnm">
  </div>

  <div class="input-container">                 
    <i class="fa fa-envelope icon mt-3"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <div class="input-container">
    <i class="fa fa-phone icon mt-2"></i>
    <input class="input-field" type="text-col-3" placeholder="+92-33x-xxxxxxx" name="phone">
  </div>

  <label for="subject">Comment</label>
  <textarea class="input-container" id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

  <button type="submit" class="btn">Register</button>
</form>