<app-header></app-header>


<div class="col m-4 text-center fluid-lg bg-white">
  <h1 class="fw-bolder text-dark z-height-2">
    Funkarah.pk <h3 class="fw-bold text-muted">Home Accessories & Decor</h3>
    
  </h1>  

<div class="mt-2">
  <span class="me-2">
    <button type="button" class="btn btn-secondary btn-sm z-depth-5" (click)="openModal()"><span class="fa fa-phone me-2"></span>Contact Us</button>
  </span>


  <span>
    <button type="button" class="btn btn-dark btn-sm z-depth-5" (click)="openModalCart()"><span class="fa fa-shopping-cart"></span></button>

  </span>
</div>
</div>


    <app-carousel></app-carousel>

<app-about></app-about>


    
    <app-footer></app-footer> 